/* first-screen css */

/* Mobile phones */
@media only screen and (max-width: 480px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    overflow-y: auto;
  }
  .first-screen-main-block {
    width: 100%;
    height: auto;
  }
  .first-screen__menu {
    margin: 20px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .first-screen__menu li {
    width: calc(33.33% - 6px);
    margin-right: 5px;
    font-size: 0.7em !important;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Дизайн-верстка {
    margin-top: 10px;
    margin-left: 10px;
  }
  .font-class-h2 {
    font-size: 2em;
  }
  .font-class-text {
    width: 300px;
    margin-top: 0;
    font-size: 12px;
    line-height: 24px;
    margin-left: 5px;
  }

  .first-screen__button {
    margin-top: 20px;
    margin-bottom: 60px;
    width: 40%;
    height: 50px;
    font-size: 0.8em;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    overflow-y: auto;
  }
  .first-screen-main-block {
    width: 100%;
    height: auto;
  }
  .first-screen__menu {
    margin: 50px 25px;
    margin-left: 10%;
  }

  .first-screen__menu li {
    margin-right: 1.2em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Дизайн-верстка {
    margin-top: 0;
    margin-left: 10%;
    width: auto;
  }

  .font-class-h2 {
    font-size: 2.8em;
    text-align: left;
  }

  .font-class-text {
    width: 40%;
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 0;
  }

  .first-screen__button {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 1.2em;
  }
}

/*  Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .first-screen-main-block {
    width: 100%;
    height: auto;
  }

  .first-screen__menu {
    margin: 20px 20px;
    margin-left: 10%;
  }

  .first-screen__menu li {
    margin-right: 1em;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .Дизайн-верстка {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
  }

  .font-class-text {
    width: 60%;
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 1em;
    line-height: 1.5em;
    margin-left: 0;
  }

  .first-screen__button {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 0.7em;
    width: 30%;
    height: 50px;
  }

  .font-class-h2 {
    font-size: 2.2em;
  }
}

/* about-me-numbers */
/* Mobile phones */
@media (max-width: 480px) {
  .about-me-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .font-class-about-h2 {
    margin-top: 20px;
    font-size: 1.6em;
  }

  .numbers-block {
    height: auto;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .numbers__item {
    margin: 16px !important;
    padding: 5px !important;
  }
}

/* Laptops, Ipads */
@media only screen and (min-width: 769px) and (max-height: 1024px) {
  .about-me-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .font-class-about-h2 {
    margin-top: 5%;
    font-size: 2em;
  }
  .numbers-block {
    height: auto;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .numbers-items-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .numbers__item {
    margin: 8px !important;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .about-me-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .font-class-about-h2 {
    margin-top: 8%;
    font-size: 2.2em;
    text-align: center;
  }

  .numbers-block {
    height: auto;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .numbers__item {
    margin: 30px;
    padding: 20px;
  }
}

/*  Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .about-me-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .font-class-about-h2 {
    margin-top: 8%;
    font-size: 1.8em;
    text-align: center;
  }

  .numbers-block {
    height: auto;
    width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .numbers__item {
    margin: 20px;
    padding: 20px;
  }
}

/* video-footer */
/*  Mobile phones */
@media (max-width: 480px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 20px;
  }
  .video-inline-block {
    margin-top: 0;
    margin-bottom: 30px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  /* footer */
  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
  }
  .font-class-footer-text {
    font-size: 16px;
  }
  .font-class-copyright-text {
    font-size: 12px;
  }
}

/* Laptops, iPads  */
@media only screen and (min-width: 769px) and (max-height: 1024px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 5%;
  }
  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15px;
  }
  .font-class-footer-text {
    font-size: 16px;
  }
  .font-class-copyright-text {
    font-size: 12px;
  }
}

/* Desktops */
@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .video-title {
    margin-top: 8%;
  }

  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10%;
  }
  .font-class-footer-text {
    font-size: 1.5em;
  }
  .font-class-copyright-text {
    font-size: 1.2em;
  }
}

/* Tablets, iPhone 14 Pro Max */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 8%;
  }

  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10%;
  }
  .font-class-footer-text {
    font-size: 1em;
  }
  .font-class-copyright-text {
    font-size: 0.8em;
  }
}
