// _variables.scss
$main-bg-color: #f9f9f9;
$primary-font-size: 16px;
$secondary-font-size: 32px;
$button-height: 60px;

// Colors
$primary-color: #eeeff1;
$secondary-color: #34547a;
$text-color: #727272;
$heading-font-family: 'Roboto', sans-serif;
$heading-color: #000000;
$white-color: #ffffff;

$footer-height: 151px;
$footer-text-width: 225px;
$footer-text-margin-top: 25px;
$footer-text-margin-left: 400px;
$footer-font-family: 'Roboto', sans-serif;
$footer-font-size: 21px;
$footer-line-height: 25px;
$footer-font-color: #ffffff;
$copyright-font-size: 13px;
$copyright-line-height: 21px;
