.about-me-block {
  width: 540px;
  height: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .about-me-block {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 481px) and (max-width: 945px) {
  .about-me-block {
    width: 90%;
    height: auto;
  }
}

@media only screen and (min-width: 946px) and (max-width: 1080px) {
  .about-me-block {
    width: 75%;
    height: auto;
  }
}

@media only screen and (min-width: 1081px) {
  .about-me-block {
    width: 540px;
    height: 359px;
  }
}

.font-class-about-h2 {
  margin-top: 110px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

@media only screen and (max-width: 480px) {
  .font-class-about-h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 945px) {
  .font-class-about-h2 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 946px) and (max-width: 1080px) {
  .font-class-about-h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 70px;
  }
}

@media only screen and (min-width: 1081px) {
  .font-class-about-h2 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 110px;
  }
}

.numbers-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  width: 100%;
  height: 250px;
  background: #34547a;
}

@media only screen and (max-width: 480px) {
  .numbers-block {
    overflow-x: auto;
    height: 140px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 945px) {
  .numbers-block {
    overflow-x: auto;
    height: 200px;
  }
}

@media only screen and (min-width: 946px) and (max-width: 1080px) {
  .numbers-block {
    margin-top: 5%;
    height: 220px;
  }
}

@media only screen and (min-width: 1081px) {
  .numbers-block {
    margin-top: 5%;
    height: 250px;
  }
}

.numbers-items-block {
  display: flex;
  flex-direction: row;
}

.numbers__item {
  width: 141px;
  height: 50px;
  background-size: cover;
  margin-right: 45px;
}

@media only screen and (max-width: 480px) {
  .numbers__item {
    width: 80px;
    height: 40px;
    margin-right: 15%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 945px) {
  .numbers__item {
    width: 120px;
    height: 45px;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 946px) and (max-width: 1080px) {
  .numbers__item {
    width: 130px;
    height: 48px;
    margin-right: 14px;
  }
}

@media only screen and (min-width: 1081px) {
  .numbers__item {
    width: 141px;
    height: 50px;
    margin-right: 35px;
  }
}
