.about-me-block {
  width: 540px;
  height: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media only screen and (max-width: 480px) {
  .about-me-block {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .about-me-block {
    width: 90%;
    height: auto;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .about-me-block {
    width: 75%;
    height: auto;
  }
}
@media only screen and (min-width: 1081px) {
  .about-me-block {
    width: 540px;
    height: 359px;
  }
}

.font-class-about-h2 {
  margin-top: 110px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}
@media only screen and (max-width: 480px) {
  .font-class-about-h2 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .font-class-about-h2 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 60px;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .font-class-about-h2 {
    font-size: 30px;
    line-height: 36px;
    margin-top: 70px;
  }
}
@media only screen and (min-width: 1081px) {
  .font-class-about-h2 {
    font-size: 32px;
    line-height: 38px;
    margin-top: 110px;
  }
}

.numbers-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-top: 5%;
  background: #34547a;
}
@media only screen and (max-width: 480px) {
  .numbers-block {
    height: 140px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .numbers-block {
    margin-top: 5%;
    height: 200px;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .numbers-block {
    margin-top: 5%;
    height: 220px;
  }
}
@media only screen and (min-width: 1081px) {
  .numbers-block {
    height: 250px;
  }
}

.numbers-items-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.numbers__item {
  display: flex;
  width: 141px;
  height: 50px;
  background-size: cover;
  margin-right: 46px;
}
@media only screen and (max-width: 480px) {
  .numbers__item {
    width: 80px;
    height: 40px;
    margin: 1% 6% 1% 3%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .numbers__item {
    width: auto;
    height: auto;
    margin: 1% 5% 1% 2%;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .numbers__item {
    width: auto;
    height: auto;
    margin: 1% 14px 1% 0;
  }
}
@media only screen and (min-width: 1081px) {
  .numbers__item {
    width: auto;
    height: auto;
    margin: 1% 46px 1% 0;
  }
}
