@charset "UTF-8";
body {
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  background: #f9f9f9;
}
@media only screen and (max-width: 480px) {
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .main-container {
    max-width: 100%;
    overflow: hidden;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .main-container {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1081px) {
  .main-container {
    max-width: 100%;
  }
}

.first-screen-main-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background: #eeeff1;
}
@media only screen and (max-width: 480px) {
  .first-screen-main-block {
    height: auto;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .first-screen-main-block {
    height: auto;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .first-screen-main-block {
    height: auto;
  }
}
@media only screen and (min-width: 1081px) {
  .first-screen-main-block {
    height: auto;
  }
}

.first-screen__menu {
  margin-top: 40px;
  margin-left: 400px;
}
.first-screen__menu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
.first-screen__menu li {
  font-family: 'Roboto', sans-serif;
  margin-right: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.first-screen__menu li:hover {
  color: #34547a;
}
@media only screen and (max-width: 480px) {
  .first-screen__menu {
    margin: 20px 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .first-screen__menu li {
    width: calc(33.33% - 6px);
    margin-right: 7px;
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .first-screen__menu {
    margin: 20px 10px;
    margin-left: 5%;
    justify-content: center;
  }
  .first-screen__menu li {
    margin-right: 14px;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .first-screen__menu {
    margin: 20px 10px;
    margin-left: 10%;
    justify-content: center;
  }
  .first-screen__menu li {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media only screen and (min-width: 1081px) {
  .first-screen__menu {
    margin-top: 40px;
    margin-left: 400px;
  }
  .first-screen__menu li {
    margin-right: 1em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.Дизайн-верстка {
  margin-top: 80px;
  margin-left: 400px;
}
@media only screen and (max-width: 480px) {
  .Дизайн-верстка {
    margin: 10px 0 0 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .Дизайн-верстка {
    margin: 20px 0 0 10px;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .Дизайн-верстка {
    margin: 30px 0 0 10px;
    margin-left: 10%;
  }
}
@media only screen and (min-width: 1081px) {
  .Дизайн-верстка {
    margin-top: 80px;
    margin-left: 400px;
    width: auto;
  }
}

.font-class-h2 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  color: #000000;
  width: 540px;
}
@media only screen and (max-width: 480px) {
  .font-class-h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .font-class-h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .font-class-h2 {
    font-size: 2em;
  }
}
@media only screen and (min-width: 1081px) {
  .font-class-h2 {
    font-size: 2.8em;
    text-align: left;
  }
}

.font-class-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  width: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .font-class-text {
    width: 300px;
    margin-left: 5px;
    font-size: 12px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .font-class-text {
    width: 300px;
    margin-left: 5px;
    font-size: 13.2px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .font-class-text {
    width: 300px;
    margin-left: 5px;
    font-size: 14.4px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1081px) {
  .font-class-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #727272;
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.first-screen__button {
  margin-top: 40px;
  margin-bottom: 120px;
  width: 225px;
  height: 65px;
  background-color: #34547a;
}
@media only screen and (max-width: 480px) {
  .first-screen__button {
    margin: 20px 0 60px 0;
    max-width: 33%;
    height: 50px;
    font-size: 0.7em !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 720px) {
  .first-screen__button {
    margin: 20px 0 80px 0;
    max-width: 30%;
    height: 60px;
    font-size: 0.7em !important;
  }
}
@media only screen and (min-width: 721px) and (max-width: 945px) {
  .first-screen__button {
    margin: 20px 0 80px 0;
    max-width: 25%;
    height: 65px;
    font-size: 0.8em !important;
  }
}

@media only screen and (min-width: 945px) and (max-width: 1080px) {
  .first-screen__button {
    margin: 40px 0 100px 0;
    width: 25%;
    height: 70px;
  }
}
@media only screen and (min-width: 1081px) {
  .first-screen__button {
    margin: 40px 0 120px 0;
  }
}

.font-class-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.2em;
}
@media only screen and (min-width: 481px) and (max-width: 945px) {
  .font-class-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #ffffff;
  }
}
