.video-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 1004px;
  background: var(--primary-color);
}

.video-title {
  margin-top: 0;
  width: 540px;
}

.video-inline-block {
  margin-top: 20px;
  width: 1110px;
  height: 600px;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.85));
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .video-inline-block {
   margin-top: 20px;
  width: 1110px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.85));
} */

.video-inline-block img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.play-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* footer-block */

.footer-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 151px;
  bottom: 0px;
  background: var(--secondary-color);
}

.footer-text {
  margin-top: 25px;
  margin-left: 400px;
  width: 225px;
}

.font-class-footer-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
}

.font-class-copyright-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
}

/*  Mobile phones */
@media (max-width: 480px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 20px;
  }
  .video-inline-block {
    margin-top: 0;
    margin-bottom: 30px;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  /* footer block */
  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10px;
  }
  .font-class-footer-text {
    font-size: 16px;
  }
  .font-class-copyright-text {
    font-size: 12px;
  }
}

/* For iPads  */
@media only screen and (min-width: 769px) and (max-height: 1024px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 5%;
  }
  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 15px;
  }
  .font-class-footer-text {
    font-size: 16px;
  }
  .font-class-copyright-text {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1920px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .video-title {
    margin-top: 8%;
  }

  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10%;
  }
  .font-class-footer-text {
    font-size: 1.5em;
  }
  .font-class-copyright-text {
    font-size: 1.2em;
  }
}

/*  iPhone 14 Pro Max */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }
  .video-title {
    margin-top: 8%;
  }

  .video-inline-block {
    margin-top: 0;
    margin-bottom: 10%;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-inline-block img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  .footer-block {
    height: auto;
    width: 100%;
    text-align: left;
  }
  .footer-text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10%;
  }
  .font-class-footer-text {
    font-size: 1em;
  }
  .font-class-copyright-text {
    font-size: 0.8em;
  }
}
